{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">     
            {% if bag_items %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Scent One</th>
                        <th scope="col">Scent Two</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in bag_items %}
                    <tr>
                        <th scope="row"></th>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.scent_one }}</td>
                        <td></td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h5><strong>Total: ${{ total|floatformat:2 }}</strong></h5>
                        <h5>Delivery: ${{ delivery|floatformat:2 }}</h5>
                        <h5>Discount: ${{ discount|floatformat:2 }}</h5>
                        <h4 class="mt-2"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        </td>

                    
                    </tr>
                </tfoot>

            </table>
             {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Shop Products</span>
            </a>
            {% endif %}
        </div>
    </div>


    {% endblock %}