{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid jumbotron">
    <div class="p-3 p-md-4 mb-3 rounded card hero-image">
        <h1 class="display-4 text-light"><strong>Custom Candles</strong></h1>
        <p class="lead text-light">Relax and enjoy your favourite scents with custom candles delivered straight to your
            door.</p>
        <div class="d-flex justify-content-left">
            <a class="btn btn-light btn-lg btn-block joinusbtn" href="{% url 'shop' %}" role="button">Shop Now</a>
        </div>
    </div>
</div>


<!-- Marketing section-->
<section>
    <div class="banner container">
        <h2 class="text-center text-uppercase">Why Choose Us</h2>
    </div>
    <div class="row justify-content-md-center home-section gx-5">
        <div class="col-lg-4 text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>Bespoke</h2>
            <p>You choose the candle that you want.</p>
        </div>
        <div class="col-lg-4 text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>Sustainable</h2>
            <p>All our candles are made from sustainable ingredients and all our packaging is recyclable.</p>
        </div>
        <div class="col-lg-4 text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>No Harsh Chemicals</h2>
            <p>We hand make all our candles with all natural ingredients and no toxic chemicals.</p>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials">
    <div class="banner container justify-content-center">
        <h2 class="text-center text-uppercase">Testimonials</h2>
    </div>
    <div class="quotes container-fluid">
        <div class="row home-section gx-5">
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 avatar">
                            <img src="{% static 'images/testimonials/jennybenny.jpg' %}" class="rounded-circle align-self-center p-1"
                                alt="jennyreview" height="100" width="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <blockquote class="blockquote m-2 p-1">
                                    <p class="m-0">My favourite scent is Vanilla. It make my home smell amazing.</p>
                                    <p class="quote-name">Jenny - <cite title="quotefrom">Monkstown</cite></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 avatar">
                            <img src="{% static 'images/testimonials/tommytucker.jpg' %}"
                                class="rounded-circle align-self-center p-1" alt="jennyreview" height="100" width="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <blockquote class="blockquote m-2 p-1">
                                    <p class="m-0">I love the quality of a handmade product</p>
                                    <p class="quote-name">Tommy - <cite title="quotefrom">Blackrock</cite></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 avatar">
                            <img src="{% static 'images/testimonials/michelle.jpg' %}" class="rounded-circle align-self-center p-1"
                                alt="jennyreview" height="100" width="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <blockquote class="blockquote m-2 p-1">
                                    <p class="m-0">I love to change the scent of my candle with the seasons.</p>
                                    <p class="quote-name">Michelle - <cite title="quotefrom">Dun
                                            Laoghaire</cite></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</section>





{% endblock %}