{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" span="1" style="width: 15%;" >Scent</th>
                        <th scope="col" class="text-center">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scents in scent %}
                    <tr>
                        <td class="text-center">{{ scents.name }}</td>
                        <td>{{ scents.description }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}