/*--------------------------------------------Navbar*/
nav {
    color:#642714 !important;
    background-color: #ddcdc0 !important;
    min-height: 100px;
}

.nav-item a {
    color:#642714 !important;
}

.navbar-toggler {
    z-index: 10 !important;
    position:relative !important;
    color:#642714 !important;


}



/*--------------------------------------------Product Page*/


.add_button {
    color: #fff;
    background-color: #642714 !important;
    border-color: #642714 !important;
}


/*--------------------------------------------Background Colors*/




/*--------------------------------------------Jumbotron*/

.jumbotron {
    margin-bottom: 0rem;    
    padding-top: 150px;

}


.hero-image {
    background-image: url('/media/jumbotron-image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    
}

.hero-image p {
    color: #642714 !important;
}

.hero-image h1 {
    color: #642714  !important;
}





body {
    color:#642714 !important;
    background-color: #f5f3ef !important;
    height: calc(100vh - 164px);

}








/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
/*--------------------------------------------body*/

.banner {
    border-top-style: solid;
    border-bottom-style: solid;
    padding: .5rem;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.banner h2 {
    padding:.25rem;
    margin: 0rem;
}

.home-section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    padding:5%;
}

.header-container {
        padding-top: 164px;
    }
}

/*--------------------------------------------testimonials*/


.media-body p {
    font-size: 14px; 
}

.quote-name {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.media {
     border: 2px solid grey;
     border-radius: 5px;
     min-height: 160px;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #ddcdc0 !important;
    min-height: 100px;
}

.social-networks {
    padding-inline-start: 0px;
     text-align: center;
}

.social-networks li {
    display: inline;
    
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #642714; 
}

.social-section {
    color: #642714;
    padding: 25px;
}

.contactinfo {
    float: left;
    padding: 25px;
    color: #642714;
    display: inline-block;
   
}

.contactinfo p {
    text-align: center;
}

.contactinfo i {
    font-size: 110%;
    color: #642714; 
    margin:1%;
    display: inline-block;
}

.copyright {
    font-size: 60%;
    vertical-align: bottom;
    color: #642714;
    text-align: center;
}

/*--------------------------------------------Product Detail Page*/

.det_image {
    padding-top: 20%;
    padding-bottom: 20%;


}

/*--------------------------------------------Bag Page*/

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}