/*--------------------------------------------Navbar*/
nav {
    color:#642714 !important;
    background-color: #ddcdc0 !important;
    min-height: 100px;
}

.nav-item a {
    color:#642714 !important;
}

.navbar-toggler {
    z-index: 10 ;
    position:relative !important;
    color:#642714 !important;


}

.offer-banner {
 
    left: 50%!important;
    position: absolute!important;
    transform: translate(-50%,-50%);
    color: #ddcdc0!important;
    background-color: #642714 !important;

}

.nav-spacer {
    padding-top: 145px;

}

/*--------------------------------------------Body*/


body {
    color:#642714 !important;
    background-color: #f5f3ef !important;
    

}



/*--------------------------------------------Product Page*/


.add_button {
    color: #fff;
    background-color: #642714 !important;
    border-color: #642714 !important;
}

.back_button {
    border-color: #642714 !important;

}




/*--------------------------------------------Jumbotron*/

.jumbotron {
    margin-bottom: 0rem; 

}


.hero-image {
    background-image: url('/media/jumbotron-image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    
}

.hero-image p {
    color: #642714 !important;
}

.hero-image h1 {
    color: #642714  !important;
}











/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
/*--------------------------------------------body*/

.banner {
    border-top-style: solid;
    border-bottom-style: solid;
    padding: .5rem;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.banner h2 {
    padding:.25rem;
    margin: 0rem;
}

.home-section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar {
    padding:5%;
}

.header-container {
        padding-top: 50px;
    }
}

/*--------------------------------------------testimonials*/


.media-body p {
    font-size: 14px; 
}

.quote-name {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.media {
     border: 2px solid grey;
     border-radius: 5px;
     min-height: 160px;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #ddcdc0 !important;
    min-height: 100px;
}

.social-networks {
    padding-inline-start: 0px;
     text-align: center;
}

.social-networks li {
    display: inline;
    
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #642714; 
}

.social-section {
    color: #642714;
   padding-left: 25px;
    padding-right: 25px;
}

.contactinfo {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    color: #642714;
    display: inline-block;
   
}

.contactinfo p {
    text-align: center;
}

.contactinfo i {
    font-size: 110%;
    color: #642714; 
    margin:1%;
    display: inline-block;
}

.copyright {
    font-size: 60%;
    vertical-align: bottom;
    color: #642714;
    text-align: center;
}

/*--------------------------------------------Product Detail Page*/

.det_image {
    padding-top: 20%;
    padding-bottom: 20%;


}

/*--------------------------------------------Bag Page*/

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/*--------------------------------------------toasts*/

.message-container {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*--------------------------------------------Allauth form formatting */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}


