/*--------------------------------------------Navbar*/
nav {
    color:#642714 !important;
    background-color: #ddcdc0 !important;
    min-height: 100px;
}

.nav-item a {
    color:#642714 !important;
}

.navbar-toggler {
    z-index: 10 !important;
    position:relative !important;
    color:#642714 !important;


}



/*--------------------------------------------Text Colors*/



/*--------------------------------------------Background Colors*/




/*--------------------------------------------Jumbotron*/

.jumbotron {
    margin-bottom: 0rem;    
    padding-top: 150px;

}


.hero-image {
    background-image: url('/media/jumbotron-image.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    
}

.hero-image p {
    color: #642714 !important;
}

.hero-image h1 {
    color: #642714  !important;
}





body {
    color:#642714 !important;
    background-color: #f5f3ef !important;
    height: calc(100vh - 164px);

}








/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
