{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">

            <a href="{{ products.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ products.image.url }}" alt="{{ products.name }}">
            </a>


        </div>
        <div class="col">
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}

                <h2 class="text-center">Chose Scent</h2>

                <div class="my-5">
                    <label for="disabledSelect" class="form-label"><strong> Choose Scent One</strong></label>
                    <select class="form-select" name="scent_one_select" aria-label="Default select example">
                        <option selected>Scent Options</option>
                        {% for scents in scent %}
                        <option value="{{  scents.name }}">{{  scents.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-5">
                    <label for="disabledSelect" class="form-label"><strong> Choose Scent Two</strong></label>
                    <select class="form-select" name="scent_two_select" aria-label="Default select example">

                        <option selected>Scent Options</option>
                        {% for scents in scent %}
                        <option value="{{  scents.name }}">{{  scents.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-5">
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="form-group w-50">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-black rounded-0" data-item_id="" id="">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ scents.name }}" id="id_qty_{{ scents.name }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn add_button">Add to bag</button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">

            </form>

        </div>

    </div>
</div>



{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}