{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>


<div class="container">
    <div class="row mb-5">
        <div class="col-sm">

            <a href="{{ product_det.image.url }}" target="_blank">
                <img class="img-fluid det_image" src="{{ product_det.image.url }}" alt="{{ product_det.name }}">
            </a>


        </div>
        <div class="col-sm position-relative">
            <form class="form position-absolute top-50 start-50 translate-middle" action="{% url 'add_to_bag' product_det.id %}" method="POST">
                {% csrf_token %}

                <h3 class="text-center">{{ product_det.name }}</h3>

                <div class="my-3">
                    <label for="disabledSelect" class="form-label"><strong> Choose Scent</strong></label>
                    <select class="form-select" name="scent_one_select" aria-label="Default select example" required>
                        {% for scents in scent %}
                        <option value="{{  scents.name }}">{{  scents.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-3">
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <div class="form-group w-50">
                        <div class="input-group">
                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ product_det.id }}" id="id_qty_{{ product_det.id }}">
                        </div>
                    </div>
                </div>
                <div class="my-3 px-4">
                    <button type="submit" class="btn add_button">Add to bag</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </form>

        </div>

    </div>
</div>



{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}